html, body {
    font-family: Open Sans;

    /* Don't ever go smaller than 14pt for main text */
    font-size: 16pt;
    height: 100%;
    background-color: #FCF9FF;
}

body {
    /*border-top: 20px solid;*/
}

h1, h2, h3, h4, h5, h6 {
    /*text-align: center;*/
    /*margin-bottom: 0.9em;
    margin-top: 0.6em;*/
    font-family: inherit;
}

.content *::selection {
    background-color: #748DA3;
    color: white;
}

.content *::-moz-selection {
    background-color: #748DA3;
    color: white;
}

/*footer *::selection {
    color: #748DA3;
    background-color: white;
}
*/
footer *::-moz-selection {
    color: #748DA3;
    background-color: white;
}

/*
article {
    margin-bottom: 40px
}
*/



footer {
    clear: both;
    width: 100%;
    position: relative;
    z-index: 10;
    font-size: 13px;
}

.jumbotron {
padding-top: 60px;
padding-bottom: 40px;
}

/*
.jumbotron .span2 {
    margin-left: 0;
}
*/

.jumbotron h1 {
    text-align: left;
}

#tag-line {
/*font-size: 32px;*/
line-height: 1.2;
font-weight : 300;
}

.center-text {
    text-align: center;
}

.container-narrow {
    margin: 0 auto;
    max-width: 640px;
    height: auto; min-height: 100%;
}

.container-narrow > hr {
margin-top: 50px;
margin-bottom: 30px;
clear: both;
}

.container-narrow header {
min-width : 120px;
}

header.jumbotron div {
    padding-top : 2em;
}

a {
    color: inherit;
    text-decoration: none;
    /*border-bottom: 1px solid #AAA;*/
}

a:hover {
    /*border-bottom: 3px solid;*/
    color: #748DA3;
    text-decoration: none;
}

a {
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

h1 a {
    line-height: 1.25em;
}

.tag-line-border {
    border: none;
}

a.tag-line-border:hover {
    border-bottom: none;
}

.no-border {
    border: none;
}

:hover .no-border {
    border: none;
}

.slightly-dim {
    color: #AAA;
}

.copyright-notice {
    margin: 40px 0;
    text-align: right;
    font-size: 10px;
}

figure {
    margin-bottom: 20px;
    margin-top: 20px;
}

figcaption {
    font-style: italic;
    text-align: center;
}

footer pre {
    line-height: 1.2em;
}

p, iframe {
    margin-bottom: 20px;
}

#content img {
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


/* HEADER */

.top-header {
    padding-top: 20px;
    margin-bottom: 60px;
}

header *::selection {
    background-color: #748DA3;
    color: white;
}

header *::-moz-selection {
    background-color: #748DA3;
    color: white;
}


/* POST */

h2.post-title {
    margin-top: -0.3em;
}

.post-preview {
    margin-bottom: 20px !important;
}

@media only screen and (min-width: 40.063em) {
    .post-mast {
        border-left: 1px dashed;
    }

    .post-meta {
        margin-top: 20px;
        line-height: 1.4em;
        text-align: right;
    }
}

.post-description {
    font-style: italic;
    font-size: 90%;
}

/* TYPOGRAPHY */

@media only screen and (min-width: 40.063em) {
    blockquote {
        margin-left: -26px;
    }

    ul {
        margin-left: -0px;
        list-style: square;
    }
}

.geeky-catchphrase {
    font-size: 20pt;
    font-weight: 100;
}

.geeky-catchphrase > a > div {
    margin-bottom: 0.5em;
}