html, body {
    font-family: Open Sans;

    /* Don't ever go smaller than 14pt for main text */
    font-size: 16pt;
    height: 100%;
    background-color: #FCF9FF;
}

/* HEADER */

.top-header {
    padding-top: 40px;
    margin-bottom: 40px;
}

/* POST */

h2.post-title {
    margin-top: -0.3em;
}

.post-preview {
    margin-bottom: 20px !important;
}

@media only screen and (min-width: 40.063em) {
    .post-mast {
        /*border-left: 1px dashed;*/
    }

    .post-meta {
        margin-top: 20px;
        line-height: 1.4em;
    }
}

.post-description {
    font-style: italic;
    font-size: 90%;
}

/* TYPOGRAPHY */

p, pre {
    margin-bottom: 1.2em;
}

@media only screen and (min-width: 40.063em) {
    blockquote {
        margin-left: -26px;
    }

    ul {
        margin-left: -0px;
        list-style: square;
    }
}

.geeky-catchphrase {
    font-size: 20pt;
    font-weight: 100;
}

.geeky-catchphrase > a > div {
    margin-bottom: 0.5em;
}

h1 a {
    line-height: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

code {
    font-size: 12pt;
    font-family: "Source Code Pro", "Droid Sans Mono", monospace;
    font-style: normal;
    font-weight: normal;
    color: #333;
}

/* FOOTER */

footer ul.inline-list li {
    margin-bottom: 10px;
}

footer ul.inline-list {
    margin-bottom: 0;
}

footer {
    clear: both;
    width: 100%;
    position: relative;
    z-index: 10;
}

footer ul.inline-list i {
    vertical-align: top;
}

footer ul.inline-list li:not(.list-start) {
    margin-left: 15px;
}

/* MISC */

.right-off-canvas-menu {
    width: 12rem;
}

.move-left > .inner-wrap {
    -ms-transform: translate(-12rem, 0);
    -webkit-transform: translate3d(-12rem, 0, 0);
    -moz-transform: translate3d(-12rem, 0, 0);
    -ms-transform: translate3d(-12rem, 0, 0);
    -o-transform: translate3d(-12rem, 0, 0);
    transform: translate3d(-12rem, 0, 0); }
}

.center-text {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    /*border-bottom: 1px solid #AAA;*/
}

a:hover {
    /*border-bottom: 3px solid;*/
    color: #748DA3;
    text-decoration: none;
}

a {
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.slightly-dim {
    color: #AAA;
}

.copyright-notice {
    /*margin: 40px 0;*/
    /*text-align: right;*/
    font-size: 8pt;
    margin-bottom: 20px;
}

figure {
    margin-bottom: 20px;
    margin-top: 20px;
}

figcaption {
    font-style: italic;
    text-align: center;
}

*::selection {
    background-color: #748DA3;
    color: white;
}

*::-moz-selection {
    background-color: #748DA3;
    color: white;
}

#mc_embed_signup {
    clear: left;
    font-size: 14px;
}

#mc-embedded-subscribe-form {
    padding: 0 !important;
}
