<!DOCTYPE html>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!--
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="https://www.facebook.com/2008/fbml">
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content="{{ page.description }}"/>

        <!-- This is for Facebook -->
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://ngochin.com{{ page.url }}"/>
        <meta property="og:site_name" content="Geeky Geek"/>
        <meta property="og:description" content="{{ page.description }}"/>

        <!-- TODO: abstract base out -->
        <meta property="og:image" content="http://ngochin.com/assets/img/emo.png"/>

        <title>{{ page.title }}</title>
        
        <link rel="shortcut icon"
            type="image/png"
            href="/favicon.png"/>

        <link rel="alternate" type="application/rss+xml"
            title="RSS Feed"
            href="/feed.html"/>
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/normalize.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/assets/css/style.css" media="screen">
        <link rel="stylesheet" href="/assets/css/typefaces.css">
        <link rel="stylesheet" href="/assets/css/solarized-light.css">

        <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/modernizr.min.js"></script>
    </head>

    <body>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <!-- Off Canvas Menu --> 
                <aside class="right-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><a href="/">Home</a></li>
                        <li><a href="/archives">Archives</a></li>
                        <!-- <li><a href="/tags">Tags</a></li> -->
                    </ul>
                </aside>

                <a class="exit-off-canvas"></a>
                
                <!-- main content goes here -->
                <header class="top-header">
                    <div class="row">

                        {% if page.url == "/" %}
                        <div class="columns small-3 medium-2 large-1 large-offset-2">
                            <a href="/">
                                <img src="/assets/img/emo.png">
                            </a>
                        </div>

                        <div class="columns medium-8 show-for-medium-up geeky-catchphrase">
                            <a href="/">
                                <div>How many geeks would a geeky geek</div>
                                <div>if a geeky geek could geek geeks?</div>
                            </a>
                        </div>
                        {% else %}
                        <div class="columns small-3 medium-2">
                            <a href="/">
                                <i class="fa fa-chevron-left fa-2x"></i>
                            </a>
                        </div>
                        {% endif %}

                        <!-- Menu icon -->
                        <div class="columns small-4 medium-2 large-1 text-right">
                            <a class="right-off-canvas-toggle" href="#" >
                                <i class="fa fa-bars fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </header>

                <div class="row">
                    <div class="large-8 large-centered columns">
                        {{ content }}
                    </div>
                </div>


                <footer>
                    <div class="row">
                        <div class="large-8 large-centered columns">

                            <hr>

                            <ul class="inline-list">
                                <li><a href="http://twitter.com/ngo_chin"><i class="fa fa-twitter"></i>&nbsp;ngo_chin</a></li>
                                <li><iframe src="http://ghbtns.com/github-btn.html?user=lewtds&type=follow&count=true&size=large"
                                            height="34"
                                            width="168"
                                            frameborder="0"
                                            scrolling="0"
                                            allowtransparency="true">
                                    </iframe>
                                </li>
                            </ul>

                            

                            <!-- Begin MailChimp Signup Form -->
                            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                            <style type="text/css">
                                #mc_embed_signup {
                                    clear: left;
                                    font-size: 14px;
                                }

                                #mc-embedded-subscribe-form {
                                    padding: 0 !important;
                                }
                            </style>
                            <div id="mc_embed_signup">
                            <form action="//ngochin.us8.list-manage.com/subscribe/post?u=09c42bcfaaa731ddb3cde6c1c&amp;id=65e4760927" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <label for="mce-EMAIL">Subscribe to see more of this</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_09c42bcfaaa731ddb3cde6c1c_65e4760927" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </form>
                            </div>

                            <!--End mc_embed_signup-->


                            <p>
                                © 2013, Chin «&nbsp;<a href="mailto:ndtrung4419@gmail.com" class="external">ndtrung4419@gmail.com</a>&nbsp;»
                                <br/>Some rights reserved.<br/>
                                <a rel="license" class="external"href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.vi">
                                <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
                            </p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <!-- SCRIPTS -->

        <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/vendor/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js"></script>

        <script>
            $(document).foundation();
        </script>

        {% include google_analytics %}
    </body>
</html>
