<!DOCTYPE html>
<!--
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="https://www.facebook.com/2008/fbml">
-->
<html>
    <head>
        <meta charset="utf-8">

        <meta name="description" content="{{ page.description }}"/>

        <!-- This is for Facebook -->
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://ngochin.com{{ page.url }}"/>
        <meta property="og:site_name" content="Geeky Geek"/>
        <meta property="og:description" content="{{ page.description }}"/>

        <title>{{ page.title }}</title>
        <!-- Bootstrap -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/assets/css/style.css" rel="stylesheet" media="screen">
        <link href='/assets/css/typefaces.css' rel='stylesheet' type='text/css'>
        <link href='/assets/css/pygments.css' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon"
            type="image/png"
            href="/favicon.png"/>

        <link rel="alternate" type="application/rss+xml"
            title="RSS Feed"
            href="/feed.html"/>
    </head>
    <body>

        <div class="container-narrow">
            <header class="jumbotron">
                <div class="span2">
                    <a href="/" class="no-border"><img src="/assets/img/emo.png" /></a>
                </div>
                <h1 id="tag-line">
                    <a href="/" class="tag-line-border">How many geeks</a></br>
                    <a href="/" class="tag-line-border">would a geeky geek geeks</a></br>
                    <a href="/" class="tag-line-border">if a geeky geek could geek geeks?</a>
                </h1>
                <div class="center-text">
                    <a href="/">Home</a> |
                    <a href="#">Archive</a> |
                    <a href="#bottom">Who's Chin?</a>
                </div>
            </header>

            <div class="content">{{ content }}</div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="span4 offset2">
                        <p>Xin chào, mình là <a href="https://www.facebook.com/lewtds" class="external"><b>Ngô Chin</b></a>.
                        Mình blog về Linux, FOSS, Web, DIY, nhạc, phim, stuff, stuff...</br>
                        Nếu bạn thấy cái tên ngờ ngợ thì chắc không nhầm đâu =))</p>
                        <p class="slightly-dim">© 2012, <a href="mailto:ndtrung4419@gmail.com" class="external">Chin</a>.
                        Some rights reserved.</br>
                            <a rel="license" class="external"href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.vi">
                            <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
                        </p>
                    </div>
                    <div class="span5">
<!--
                        So. I keep reminding myself to write something nice here. But I don't remember what.
                        So here's a cute cat. Enjoy it while you still can.</br>
-->
<div class="center-text"><a href="#top">Back to top</a></div>
<pre>
   /\_/\
   >^.^<.---.
  _'-`-'     )\
 (6--\ |--\ (`.`-.
     --'  --'  ``-'BP   cat
</pre>
                    </div>
                </div>
            </div>
        </footer>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            $(document).ready(function(){
                $('hr').replaceWith('<i class=\"icon-asterisk hr\"></i>');
                $("section#content a, footer a.external").attr({
                    "rel":"nofollow",
                    "target":"_blank"
                    });
            });

            $("a[href='#bottom']").click(function() {
              $("html, body").animate({ scrollTop: $(document).height() }, 1500);
              return false;
            });

            $("a[href='#top']").click(function() {
              $("html, body").animate({ scrollTop: 0 }, 1500);
              return false;
            });
        </script>
        <script src="/assets/js/bootstrap.min.js"></script>
        {% include google_analytics %}
    </body>
</html>
